@charset "UTF-8";
/* ==========================================================================
 * Global
 * ========================================================================== */

html{
	min-width: 1000px;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
	font-size: 16px;
	line-height: 1.2;
	font-family: $proxi;
	color: $text;
}

body{
}

a{
	color: inherit;
	text-decoration: none;
	&:hover{
		text-decoration: none;
	}
}

.link{
	border-bottom: 1px solid;
	transition: all .3s;
	&:hover{
		border-color: transparent;
	}

	&--blue{
		color: $blue;
	}
}

.inverselink{
	border-bottom: 1px solid transparent;
	transition: all .3s;
	&:hover{
		border-color: currentColor;
	}	

	&--blue{
		color: $blue;
	}
}

.selflink{
	border-bottom: 1px dashed;
	transition: all .3s;
	&:hover{
		border-color: transparent;
	}
}


.morelink{
	color: $blue;
	font-size: 18px;
	margin: 0 40px 0 0;
	position: relative;
	&:after{
		content: '';
		display: inline-block;
		position: absolute;
		left: 100%;
		top: 50%;
		margin: -7px 0 0 7px;
		@include sprite($next);
	}
}

//android hack
p,
span{
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAC0lEQVQIW2NkAAIAAAoAAggA9GkAAAAASUVORK5CYII=); 
}

p{
	margin: 0 0 1em;
	&:last-child{
		margin: 0;
	}
}

strong{
	font-weight: 700;
}

sup{
	font-size: .8em;
	vertical-align: super;
}

.italic{
	font-style: italic;
}

.text{
	font-size: 16px;
	line-height: (24/16);
}



/* ==========================================================================
 * Layout
 * ========================================================================== */

.body-container{
	overflow: hidden;
	position: relative;
	
	&.fixed-header{
		padding: 60px 0 0;
		
		.body-container__header{
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			z-index: 500;
		}
	}

	&__content{
		// background: #fff;
		// box-shadow: 0 0 30px rgba(0,0,0,.3);	
		// width: 1020px;
		// margin: 0 auto;
		// min-height: 100vh;
		// position: relative;
		// border-bottom: 1px solid #fff;
	}

	&__page{
		
		&.transition{
			transition: opacity .9s, left 0s .9s;
		}

		&.invisible{
			opacity: 0;
			position: absolute;
			top: 60px;
			left: -9999px;
			width: 100%;
		}

		&.visible{
			opacity: 1;
			left: 0;
		}
	}
}

.wrap{
	@include clearfix;
	margin: auto;
	padding: 0 20px;
	min-width: 1000px;
	max-width: 1200px;
}

.logo{
	text-indent: -9999px;
	display: inline-block;
	@include sprite($logo);
}


.text{
	font-size: 18px;
	line-height: (24/18);
	
	h1, h2, h3,h4,
	h5{
		font-weight: 700;
		margin: 0 0 .5em;
	}

	h4{
		font-size: 24px;
	}

	a{
		color: $blue;
	}

	p{
		margin: 0 0 1.5em;
		&:last-child{
			margin: 0;
		}
	}

	ul{
		margin: 0 0 1.5em;
		padding: 0;
		li{
			margin: 0 0 .8em;
			padding: 0 0 0 20px;
			&:before{
				content: '—';
				margin: 0 0 0 -25px;
			}
		}
	}

	ol{
		margin: 0 0 1.5em;
		padding: 0;
		counter-reset: ol-counter; 
		li{
			margin: 0 0 .8em;
			padding: 0 0 0 20px;
			&:before{
				display: inline-block;
				width: 16px;
				counter-increment: ol-counter;     
				content: counter(ol-counter) ".";
				margin: 0 0 0 -20px;
			}
		}
	}

	img{
		max-width: 100%;
		height: auto;
		border: 1px solid #ccc;
	}

	blockquote{
		background: #f2f2f2;
		padding: 1.2em 1.5em;
		margin: 0 0 1.5em;
		border-left: 4px solid $orange;
	}
}

/* ==========================================================================
 * header
 * ========================================================================== */

.header{
	min-height: 60px;
	background: #fff;
	padding: 10px 0 10px;
	box-shadow: 0 0 3px rgba(0,0,0,.5);

	&__logo{
		display: inline-block;
		vertical-align: middle;
		margin: 0 28px 0 0;
	}

	&__menu{
		display: inline-block;
		vertical-align: middle;
	}
}

/* ==========================================================================
 * menu
 * ========================================================================== */

.menu{

	&__list{
		@include list;
		margin: 0 0 -10px;
	}

	&__item{
		display: inline-block;
		vertical-align: top;
		margin: 0 0 10px 28px;
		&:first-child{
			margin-left: 0;
		}

		@media (max-width: 1050px){
			margin-left: 19px;
		}
	}

	&__href{
		color: $blue;
		font-size: 18px;

		&.active{
			color: $orange;
		}

		&--questions{
			&:before{
				content: '';
				@include sprite($questions);
				display: inline-block;
				vertical-align: middle;
				margin: -7px 8px 0 0;
			}
		}
	}
}

/* ==========================================================================
 * home
 * ========================================================================== */

.home{

	&__section{
		padding: 80px 0 80px;

		&--beige-bg{
			background: #f1f1f1;
		}
	}
	
	&__title{
		font-weight: 700;
		font-size: 48px;
		text-align: center;
		margin: 0 0 1em;
	}
	
	&__subtitle{
		font-weight: 700;
		font-size: 30px;
		margin: 0 0 1.5em;	}
}

/* ==========================================================================
 * home-top
 * ========================================================================== */

.home-top{
	background: #0d5685 url(../images/bg/home-top.jpg) 50% 0 no-repeat;
	background-size: cover;
	color: #fff;
	padding: 125px 0 100px;
	min-height: image-height('../assets/images/bg/home-top.jpg');

	&__content{
		width: 60%;
	}

	&__competition{
		font-size: 18px;
		margin: 0 0 .8em;
	}

	&__title{
		text-align: left;
		margin: 0 0 .7em;
	}	

	&__text{
		color: #7babcb;
		margin: 0 0 70px;
	}

	&__text-highlight{
		color: #fff;
	}

	&__buttons{
		
	}

	&__button-placeholder{
		display: inline-block;
		vertical-align: top;
		margin: 0 6px 0 0;
	}
}

/* ==========================================================================
 * home-about
 * ========================================================================== */

.home-about{


	&__title{
		text-align: left;
	}

	&__text{
		font-size: 24px;
		margin: 0 0 1em;
		&:last-child{
			margin-bottom: 0;
		}
	}

	&__more{
		margin: 50px 0 50px;	
	}

	&__competition{
		
	}
}

.home-competition{

	&__title{
		text-align: center;
		margin: 0 0 1em;
		font-size: 30px;
		font-weight: 700;
	}

	&__list{
		@include list;
		text-align: center;
		margin: 0 -2.1% 20px;
	}

	&__item{
		display: inline-block;
		vertical-align: top;
		width: 23.6%;
		margin: 0 .1% 20px;
		text-align: left;
	}
}

.home-competition-item{

	cursor: pointer;

	&:hover{
		.home-competition-item{

			&__image{
				opacity: .8;
			}
		}
	}


	&__image-placeholder{
		margin: 0 0 10px;
	}

	&__image{
		max-width: 100%;
		height: auto;
		transition: all .2s;
	}

	&__title{
		font-size: 18px;
		font-weight: 700;
		margin: 0 0 .3em;
	}
}

/* ==========================================================================
 * home-mix
 * ========================================================================== */

.home-mix{
	background: #1679d5 url(../images/bg/home-mix.jpg) 50% 0 no-repeat;
	background-size: cover;
	//min-height: image-height('../assets/images/bg/home-mix.jpg');
	padding: 136px 0 90px;
	position: relative;
	overflow: hidden;

	&__tablet{
		display: block;
		background: url(../images/bg/lesson.png) 50% 0 no-repeat;
		width: image-width('../assets/images/bg/lesson.png');
		height: image-height('../assets/images/bg/lesson.png');
		position: absolute;
		bottom: 0;
		left: 50%;
		margin: 0 0 0 -20px;
	}

	&__content{
		background: #fff;
		padding: 75px 50px;
		border-bottom: 18px solid #d6380c;
		width: 46%;
	}

	&__title{
		font-size: 30px;
		margin: 0 0 .5em;
		font-weight: 700;
	}

	&__text{
		line-height: (28/18);
	}

	&__buttons{
		margin: 0 -30px 0 0;
	}

	&__button-placeholder{
		display: inline-block;
		vertical-align: top;
		margin: 0 9px 10px 0;
	}
}

/* ==========================================================================
 * expert-top
 * ========================================================================== */

.expert-top{
	background: #0d5685 url(../images/bg/expert2.jpg) 50% 0 no-repeat;
	background-size: cover;
	color: #fff;
	padding: 90px 0 60px;
	min-height: image-height('../assets/images/bg/expert2.jpg');

	&__content{
		width: 60%;
	}

	&__competition{
		font-size: 18px;
		margin: 0 0 .8em;
	}

	&__title{
		text-align: left;
		margin: 0 0 .7em;
	}	

	&__text{
		color: #7babcb;
		margin: 0 0 70px;
	}

	&__text-highlight{
		color: #fff;
	}

	&__buttons{
		
	}

	&__button-placeholder{
		display: inline-block;
		vertical-align: top;
		margin: 0 6px 0 0;
	}
}


/* ==========================================================================
 * expert-benefits
 * ========================================================================== */

.expert-benefits{
	position: relative;
	&:before{
		content: '';
		position: absolute;
		top: -15px;
		right: 0;
		display: block;
		@include sprite($mouse);
	}

	&__wrap{
		@media (max-width: 1240px){
			padding-right: 250px;
		}
	}

	&__title{
		
	}

	&__list{
		font-size: 18px;
		margin: 0 0 40px;
	}

	&__item{
		margin: 0 0 1em;
		padding: 0 0 0 40px;
		position: relative;
		&:before{
			content: '';
			display: block;
			width: 4px;
			height: 4px;
			border-radius: 50%;
			background: $text;

			position: absolute;
			top: 7px;
			left: 0;
		}

		&:last-child{
			margin-bottom: 0;
		}
	}
}

/* ==========================================================================
 * expert-forum
 * ========================================================================== */

.expert-forum{

	&__list{
		@include list;
		text-align: left;
		margin: 0 0 20px;

		//display: flex;
	}

	&__item{
		display: inline-block;
		vertical-align: top;
		max-width: 17.2%;
		margin: 0 .9% 20px;
		text-align: left;
		&:first-child{
			margin-left: 0;			
		}
		&:last-child{
			margin-right: 0;
		}

		&:nth-child(1){
			max-width: 22%;
		}

		&:nth-child(2){
			max-width: 21%;
		}

		&:nth-child(3){
			max-width: 18%;
		}

		&:nth-child(4){
			max-width: 14.5%;
		}

		&:nth-child(5){
			max-width: 14.5%;
		}
	}

	&__desc{
		font-size: 14px;
	}
}

/* ==========================================================================
 * examples
 * ========================================================================== */

.examples{
	background: #e3e3e3;

	&__title{
		
	}

	&__frame{
		iframe{
			width: 100%;
			border: 0;
			height: 305px;
		}
	}
}

/* ==========================================================================
 * home-videos
 * ========================================================================== */

.home-videos{
	
	text-align: center;

	&__text{
		margin: 0 0 1em;
	}

	&__{
		
	}
}

/* ==========================================================================
 * about
 * ========================================================================== */

.about{
	padding: 0 0 50px;

	&:before{
		content: '';
		display: block;
		background: #fff url(../images/bg/main.jpg) 50% 0 no-repeat;
		background-size: cover;
		height: image-height('../assets/images/bg/main.jpg');
		margin: 0 0 70px;
	}

	&--mix:before{
		background-image: url(../images/bg/about-mix.jpg);
		height: image-height('../assets/images/bg/about-mix.jpg');
	}

	&__title{
		font-size: 48px;
		font-weight: 700;
		margin: 0 275px .5em 0;
	}

	&__title-warning{
		font-size: 25px;
		padding: 5px 15px;
		display: inline-block;
		background: lighten($orange, 40%);
		color: $orange;
		float: right;
		margin: 5px -5px 0 0;
	}

	&__sidebar{
		float: right;
		width: 275px;
	}

	&__content{
		margin: 0 275px 60px 0;
	}

	&__steps{
		
	}
}
/* ==========================================================================
 * page
 * ========================================================================== */

.page{
	padding: 50px 0 50px;

	&__title{
		font-size: 48px;
		font-weight: 700;
		margin: 0 0 .5em;
	}

	&__content{
		margin: 0 0 60px 0;
	}
}

/* ==========================================================================
 * video-thumbs
 * ========================================================================== */

.video-thumbs{
	
	&__list{
		@include list;
		margin: 0 0 -30px;
		width: 172px;
		float: right;
	}

	&__item{
		margin: 0 0 30px;
	}

}

.video-thumbs-item{

	&__image-placeholder{
		display: block;
		margin: 0 0 10px;
	}

	&__image{
		vertical-align: top;
	}

	&__href{
		color: $blue;
		font-size: 18px;
		line-height: (22/18);
	}
}

/* ==========================================================================
 * about-steps
 * ========================================================================== */


.about-steps{
	
	&__list{
		@include list;
		margin: 0 0 -2em;
	}

	&__item{
		padding: 0 0 0 312px;
		margin: 0 0 3em;
	}
}

.about-steps-item{
	position: relative;
	min-height: 160px;

	&__image-placeholder{
		position: absolute;
		top: 0;
		left: 0;	
	}

	&__image{
		vertical-align: top;		
	}

	&__count{
		margin: 0 0 .3em;
		font-size: 18px;
	}

	&__title{
		font-size: 24px;
		font-weight: 700;
		margin: 0 0 .4em;
	}

	&__text{
		p{
			margin: 0 0 .4em;
		}
	}

	&__more{
	}

}


/* ==========================================================================
 * tutorial
 * ========================================================================== */

.tutorial{
	padding: 50px 0 50px;

	&__sidebar{
		float: left;
		width: 238px;
	}

	&__content{
		margin: 0 0 0 270px;
		position: relative;
	}

	&__page{
		margin: 0 0 50px;

		// &.invisible{
		// 	display: none;
		// }

		// &.visible{
		// 	display: block;
		// }

		&.transition{
			transition: opacity .5s, left 0s .5s;
		}

		&.invisible{
			opacity: 0;
			position: absolute;
			top: 0px;
			left: -9999px;
			width: 100%;
		}

		&.visible{
			opacity: 1;
			left: 0;
		}
	}

	&__title{
		font-size: 30px;
		font-weight: 700;
		margin: 0 0 1em;
	}
	
	&__text{
		margin: 0 0 1em;
	}

}

.tutorial-nav{

	&__list{
		@include list;
		margin: 0 0 -.3em;
		counter-reset: tutorial-nav-counter; 
	}

	&__item{
		//height: 46px;
		padding: 0 0 1px 0;
		margin: 0 0 .3em;
		position: relative;
		color: #726f70;
		font-size: 14px;
		transition: all .2s;

		&:before{
			position: absolute;
			top: 6px;
			left: 5px;
			font-size: 36px;
			display: inline-block;
			width: 16px;
			counter-increment: tutorial-nav-counter;     
			content: counter(tutorial-nav-counter) ".";
		}
		&:after{
			transition: all .2s;

			display: block;
			content: '';
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 23px 0 23px 10px;
			border-color: transparent transparent transparent transparent;
			position: absolute;
			right: -10px;
			top: 50%;
			margin: -23px 0 0 0;
		}

		&.active,
		&:hover{
			background: $blue;
			color: #fff;
			&:after{
				border-color: transparent transparent transparent $blue;
			}
		}

		&--big{
			&:after{
				border-width: 37px 0 37px 10px;
				margin: -37px 0 0 0;
			}
		}
	}

	&__href{
		display: block;
		padding: 9px 5px 8px 38px;
		position: relative;
	}
}

.tutorial-courses{

	&__item{
		font-size: 18px;
		margin: 0 0 1em;
	}

	&__href{
		
		display: inline-block;
		padding: 8px 10px;
		color: #fff;

		background: #ff8b01;
		transition: all .2s;

		&:hover{
			opacity: .8;
		}

		&--1{
			background: #ff8b01;
		}

		&--2{
			background: #64318f;
		}

		&--3{
			background: #00aff1;
		}

		&--4{
			background: #b500a0;
		}
	}
}

/* ==========================================================================
 * videos
 * ========================================================================== */

.videos{
	padding: 45px 0 50px;

	&__title{
		font-size: 48px;
		font-weight: 700;
		margin: 0 0 .5em;
	}

	&__list{
		@include list;
		margin: 0 -4.3% 15px 0;
	}

	&__item{
		display: inline-block;
		vertical-align: top;
		width: 46%;
		margin: 0 3.5% 35px 0;
	}

	&__next-palceholder{
		
	}
}

.videos-item{

	&__video-placeholder{
		background: #dfdfdf;
		margin: 0 0 15px;

		position: relative;
		padding-bottom: 51.2%; /* 16:9 */
		padding-top: 25px;
		height: 0;
		
		iframe{		
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border: 0;
		}
	}

	&__title{
		//color: $blue;
		font-size: 18px;
		margin: 0 0 1.0em;
	}
}

.videos-next{
	padding: 120px 0 0 ;

	&__title{
		font-weight: 700;
		font-size: 20px;
		margin: 0 0 20px;
	}
}


.iframe-container{
	position: relative;
	
	&:before,
	&:after{
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: #dfdfdf;
		//background: #dfdfdf url(../images/loader.gif) 50% 50% no-repeat;
		//transition: all .2s;
		z-index: 10;
	}

	&:after{
		margin: auto;
		content: '';
		display: block;
		width: 38px;
		height: 38px;
		background: #686868;
		animation: 2s linear loadder infinite;
	}

	&.loaded:before,
	&.loaded:after{
		display: none;
	}
}


@keyframes loadder{
	0% { transform: rotate(0) scale(1)}
	50% { transform: rotate(180deg) scale(.5) }
	100% { transform: rotate(360deg) scale(1) }
}


/* ==========================================================================
 * expert-courses
 * ========================================================================== */


.expert-courses{
	position: relative;

	&__title{
		text-align: center;
	}

	&:before{
		position: absolute;
		top: 100px;
		left: 50%;
		margin-left: -960px;
		content: url(../images/courses/1.png);
	}

	&--2{
		&:before{
			top: 300px;
			margin-left: 700px;
			content: url(../images/courses/2.png);
		}
	}

	&__icons{
		margin: 0 0 50px;
	}

	&__list{
		margin: 0 0 40px;
	}

	&__item{
		margin: 0 0 40px;
	}

}

.courses-icons{

	&__list{
		
	}

	&__item{
		display: inline-block;
		vertical-align: top;
		margin: 0 30px 0 0;
		width: 130px;
	}

	&__href{

		display: block;
		text-indent: -9999px;
		
		&--excel{
			@include sprite($excel);
		}
		
		&--word{
			@include sprite($word);
		}
		
		&--powerpoint{
				@include sprite($powerpoint);
		}
		
		&--outlook{
				@include sprite($outlook);
		}
		
		&--mix{
				@include sprite($mix);
		}

	}

}

.expert-courses-item{

	&__title{
		font-size: 20px;
		color: $blue;
		font-weight: 700;
		margin: 0 0 .5em;
	}

	&__text{
		
	}

	&__href{

		&:after{
			content: '';
			display: inline-block;
			vertical-align: middle;
			margin: 0 0 0 10px;
		}
		
		&--excel{
			&:after{
				@include sprite($excel);
				width: 45px;
			}
		}
		
		&--word{
			&:after{
				@include sprite($word);
				width: 45px;
			}
		}
		
		&--powerpoint{
			&:after{
				@include sprite($powerpoint);
				width: 45px;
			}
		}
		
		&--outlook{
			&:after{
				@include sprite($outlook);
				width: 45px;
			}
		}
		
		&--mix{
			&:after{
				@include sprite($mix);
				width: 45px;
			}
		}

		&:hover{
			.expert-courses-item__href-text{
				border-color: transparent;
			}
		}
	}

	&__href-text{
		border-bottom: 1px solid;
		transition: all .2s;
	}

}

.expert-courses-end{

	&__title{
		font-size: 20px;
		font-weight: 700;
		font-style: italic;
		margin: 0 0 1em;
		text-align: center;
	}

	&__text{
		text-align: center;
	}
}
